// Geral Colors

$white: #fff;
$dark-color: #000;
$text-color: #2F3133;
$primary: #C20001;
$blue: #3F67BA;
$blue-500: #3F5DB3;
$white-100: #EFF3F6;
$red-01: #C90C0C;
$blue-50: #AFC0E3;

// Gray colors

$gray-50: #ACB9C1;
$gray-100: #A0AFBA;
$gray-500: #7A7D80;
$gray-600: #4d5053;

// Transparent Colors

$transparent-red-01: rgba(194, 0, 1, 0.2);
$transparent-blue-01: rgba(63, 104, 186, 0.15);
$transparent-blue-02: rgba(158, 185, 225, 0.1);

// Pokemon Colors

$bug: #9BBA48;
$dark: #595761;
$dragon: #2C6AC1;
$electric: #EED967;
$fairy: #E296E1;
$fighting: #C44D61;
$ground: #CE8056;
$ice: #8BCEC1;
$normal: #A0A29F;
$poison: #AC6ACA;
$psychic: #EB8B85;
$rock: #8BCEC1;
$ghost: #616EB7;
$grass: #73B861;
$steel: #6594A1;
$water: #88A3D4;
$fire: #F66D6D;
$flying: #A6BBE8;

// Values

$opacity-01: 0.1;
$opacity-02: 0.2;
$opacity-03: 0.3;
$opacity-04: 0.4;
$opacity-05: 0.5;
$opacity-06: 0.6;
$opacity-07: 0.7;
$opacity-08: 0.8;
$opacity-09: 0.9;
$opacity-10: 1;